<div class='toolbar'>
  <ul class='actions'>
    <li>
      <p><%= button_link_to "New Supplier", new_object_url, :icon => 'add' %></p>
    </li>
  </ul>
  <br class='clear' />
</div>

<h1>Listing Suppliers</h1>

<table class="index">
  <thead>
    <tr>
      <th><%= sort_link @search, :name,  t('supplier.name') %></th>
      <th><%= sort_link @search, :phone, t('supplier.phone') %></th>
      <th><%= sort_link @search, :email, t('supplier.email') %></th>
      <th><%= t('action') %></th>
    </tr>
  </thead>
  <tbody>
    <%- @collection.each do |supplier|%>
    <tr id="<%= dom_id supplier %>">
      <td><%= link_to supplier.name, object_url(supplier) %></td>
      <td><%= supplier.phone %></td>
      <td><%= mail_to supplier.email %></td>
      <td>
        <%= link_to_edit supplier %> &nbsp;
        <%= link_to_delete supplier %>
      </td>
    </tr>
    <% end %>
  </tbody>
</table>

<%= paginate(@collection, :previous_label => "&#171; #{t('previous')}", :next_label => "#{t('next')} &#187;") %>

<% content_for :sidebar do %>
  <div class="box">
    <h3><%= t('search') %></h3>
    <% @supplier = Spree::Supplier.ransack %>
    <%= search_form_for [:admin, @supplier] do |f| %>
      <div data-hook='admin_suppliers_index_search'>
        <p>
          <label><%= t 'supplier.name' %></label><br />
          <%= f.text_field :name_matches, :size => 25 %>
        </p>
      </div>
      <div data-hook='admin_suppliers_index_search_buttons'>
        <p><%= button t('search') %></p>
      </div>
    <% end %>
  </div>
<% end %>
