<h2>Listing Orders</h2>


<table class="index">
  <thead>
	<tr>
    	<th><%= sort_link @search, :id,  t('order.name') %></th>
    	<th><%= sort_link @search, :supplier_name,  t('order.supplier.name') %></th>
    	<th><%= sort_link @search, :total,  t('order.total') %></th>
    	<th><%= t('action') %></th>
	</tr>
  </thead>
  <tbody>
    <%- @collection.each do |order|%>
    <tr id="<%= dom_id order %>">
      <td><%= link_to "##{order.id}", admin_drop_ship_order_url(order) %></td>
      <td><%= link_to order.supplier.name, admin_supplier_url(order.supplier) %></td>
      <td><%= number_to_currency order.total %></td>
      <td>
      	<%= link_to_edit order %> &nbsp;
      	<%= link_to_delete order %>
      </td>
    </tr>
    <% end %>
  </tbody>
</table>
