<h1>Drop Shop Order #<%= @drop_ship_order.id %></h1>

<h2><%= @supplier.name %> Order</h2>

<h3>Order State: <%= @drop_ship_order.state %></h3>

<% %w(sent_at recieved_at processed_at).each do |attribute| %>
  <% time = @drop_ship_order.send(attribute) %>
  <% unless time.nil? %>
    <h4><%= attribute.titleize %>: <%= time.strftime(:long) %></h4>
  <% end %>
<% end %>

<table class="index">
  <tr>
    <th>SKU</th>
    <th>Product</th>
    <th>Quantity</th>
    <th>Price</th>
    <th>Subtotal</th>
  </tr>
<% if @drop_ship_order.line_items.empty? %>
  <tr>
    <td colspan="5">This order has no line items.</td>
  </tr>
<% else %>
  <% @drop_ship_order.line_items.each do |li| %>
    <tr>
      <td><%= li.sku %></td>
      <td><%= li.name %></td>
      <td><%= li.quantity %></td>
      <td><%= li.price %></td>
      <td><%= li.subtotal %></td>
    </tr>
  <% end %>
<% end %>
    <tr class="totals">
      <td colspan="5">
        Total:
        <span class="total"><%= number_to_currency @drop_ship_order.total %></span>
      </td>
    </tr>
  </table>


<br class="clear" />
  
<p>
  <%= link_to t('back'), admin_drop_ship_orders_url %>
</p>


<% content_for :head do %>
  <%= stylesheet_link_tag 'admin/drop_ship_orders' %>
<% end %>
